# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Dependencies
node_modules/
**/node_modules/

# Builds
**/build/
**/coverage/
**/dist/
**/*.egg-info/
.stryker-tmp/

# VitePress
docs/.vitepress/cache/

# Python
**/.venv/
**/__pycache__/
*.pyc

# Generated binary assets
*.bmp
*.gif
*.ico
*.jpeg
*.jpg
*.png
*.tiff
*.webp
